.Table {
  width: 100%;
  display: grid;
  gap: rem(10px);
  grid-template-columns: 1fr 1fr;

  &__Element {
    display: flex;
    align-items: center;
    padding: 10px;
    color: $color-black-default;
    justify-content: space-between;
    font-size: rem(12px);
    @include iftablet {
      font-size: rem(24px);
    }
  }

  &__Element__Last {
    border-radius: 0 0 20px 20px;
  }

  &__PurpleCell {
    background-color: #decfff;
  }

  &__TitleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px 20px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
  }
}
