$base-font-size: 24px;

//design breakpoint
$design-mobile-width: 360px;
$design-tablet-width: 768px;
$design-laptop-width: 1024px;
$design-desktop-width: 1920px;

//frontend breakpoint
$mobile-w: 360px;
$tablet-w: 768px;
$laptop-w: 1024px;
$desktop-w: 1440px;

$color-black-default: #000000;
$color-white-default: #ffffff;
$color-bacground-default: #f0f0f0;
$color-gray-default: #b5b5b5;
$color-5gray-default: #0000000d;
$color-50purple-default: #decfff80;

$font-Proxima: 'Proxima Nova', sans-serif;
