.Table {
  display: grid;
  grid-template-columns: 0.15fr 1.5fr 1fr 0.6fr 1fr;

  width: 100%;

  &__Element__Last {
    border-radius: 0 0 20px 20px;
  }

  &__TitleRow {
    border-radius: 20px 20px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
  }

  &__PurpleCell {
    background-color: #decfff;
  }
}
