.Header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: rem(28px) rem(20px);

  background-color: $color-white-default;

  border-bottom: rem(2px) solid rgba(0, 0, 0, 0.2);

  @include iftablet {
    padding: rem(16px) rem(24px);

    flex-direction: row;
  }

  @include iflaptop {
    padding: rem(16px) rem(60px);

    margin-bottom: rem(60px);
  }
  @include ifdesktop {
    margin-bottom: rem(80px);
  }

  &__Logo {
    cursor: pointer;
    width: rem(319px);
    height: rem(66px);

    @include iftablet {
      width: rem(346px);
      height: rem(67px);
    }

    @include iflaptop {
      width: rem(497px);
      height: rem(100px);
    }
    @include ifdesktop {
      width: rem(556px);
    }
  }
  &__AccName {
    color: $color-black-default;
    margin-left: rem(65px);
    @include iftablet {
      align-self: center;
    }
  }
  &__ExitIcon {
    width: rem(15px);
    height: rem(18.67px);

    margin-left: rem(15px);

    align-self: center;
    @include iftablet {
      width: rem(22.5px);
      height: rem(28px);
    }
  }
  &__AccView {
    display: flex;
    align-items: center;
    @include iftablet {
      display: flex;
      align-items: center;
      margin-right: rem(10px);
    }
    @include iflaptop {
      margin-right: rem(20px);
    }
    @include ifdesktop {
      margin-right: rem(100px);
    }
  }
}
