.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: rem(28px) rem(20px);
  background-color: $color-white-default;
  @include iftablet {
    padding: rem(16px) rem(145px);
  }
  @include iflaptop {
    padding: rem(16px) rem(60px);
  }

  &__Logo {
    cursor: pointer;
    width: rem(319px);
    height: rem(66px);
    @include iftablet {
      width: rem(477px);
      height: rem(100px);
    }
    @include iflaptop {
      width: rem(497px);
    }
  }
}
