.Footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: rem(35px);
  padding-bottom: rem(35px);

  background-color: $color-white-default;

  &__Note {
    color: rgba(0, 0, 0, 0.5);
    font-size: rem(24px);
  }
}
