.Footer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: rem(35px) rem(20px);
  background-color: $color-white-default;
  @include iftablet {
    padding-left: rem(60px);
  }
  &__Note {
    color: rgba(0, 0, 0, 0.5);
    font-size: rem(24px);
    line-height: rem(29px);
  }
}
